h1{
    color: green;
    font-size: 15px;
  }

.blue{
    color: red;
  }


.box {
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 10px;
    border: 20px solid red;
    background: black;
}





















